In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
file = pd.read_csv('ecommerce.csv')
print(file)

    OrderID Customer     Product  Quantity  Price        Date
0      1001  Shreyas      Laptop         1  55000  2025-08-01
1      1002  Pragati  Headphones         2   1500  2025-08-01
2      1003     Amit  Smartphone         1  22000  2025-08-02
3      1004     Neha    Keyboard         1   1200  2025-08-02
4      1005    Rohan       Mouse         3    600  2025-08-03
5      1006    Sneha     Monitor         1   9000  2025-08-03
6      1007    Vikas      Laptop         2  54000  2025-08-04
7      1008    Pooja  Smartwatch         1   7000  2025-08-04
8      1009    Arjun      Tablet         1  18000  2025-08-05
9      1010   Ananya     Charger         2    800  2025-08-05
10     1011    Kiran  Headphones         1   1600  2025-08-06
11     1012    Meera  Smartphone         1  21000  2025-08-06
12     1013    Rahul      Laptop         1  56000  2025-08-07
13     1014    Tanvi    Keyboard         2   1100  2025-08-07
14     1015      Dev       Mouse         1    550  2025-08-08

In [3]:
file['Revenue'] = file['Quantity'] * file['Price']
print(file.head())

   OrderID Customer     Product  Quantity  Price        Date  Revenue
0     1001  Shreyas      Laptop         1  55000  2025-08-01    55000
1     1002  Pragati  Headphones         2   1500  2025-08-01     3000
2     1003     Amit  Smartphone         1  22000  2025-08-02    22000
3     1004     Neha    Keyboard         1   1200  2025-08-02     1200
4     1005    Rohan       Mouse         3    600  2025-08-03     1800

In [ ]:
file["Date"] = pd.to_datetime(file["Date"])
monthly_revenue = file.groupby(file["Date"].dt.to_period("M"))["Revenue"].sum()
print("Monthly Revenue:\n", monthly_revenue)

   OrderID Customer     Product  Quantity  Price       Date  Revenue
0     1001  Shreyas      Laptop         1  55000 2025-08-01    55000
1     1002  Pragati  Headphones         2   1500 2025-08-01     3000
2     1003     Amit  Smartphone         1  22000 2025-08-02    22000
3     1004     Neha    Keyboard         1   1200 2025-08-02     1200
4     1005    Rohan       Mouse         3    600 2025-08-03     1800
Monthly Revenue:
 Date
2025-08    307950
Freq: M, Name: Revenue, dtype: int64

In [13]:
top_product = file.groupby('Product')['Revenue'].sum().sort_values(ascending=False)
print(top_product.head())

Product
Laptop        219000
Smartphone     43000
Tablet         18000
Monitor         9000
Smartwatch      7000
Name: Revenue, dtype: int64

In [14]:
customer_spending = file.groupby('Customer')['Revenue'].sum().sort_values(ascending=False)
print(customer_spending.head())

Customer
Vikas      108000
Rahul       56000
Shreyas     55000
Amit        22000
Meera       21000
Name: Revenue, dtype: int64

In [15]:
rev_arr = monthly_revenue.to_numpy()
gorwth_rate = np.diff(rev_arr) / rev_arr[:-1] * 100
print("Growth Rate:\n", gorwth_rate)

Growth Rate:
 []